In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import tree
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

%matplotlib inline

In [2]:
df = pd.read_csv("player_stat_18.csv")

In [3]:
#split positions into offense, defense, and special teams
off_pos_list = ['C','FB','HB','LG','LT','QB','RG','RT','TE','WR']
def_pos_list = ['CB','DT','FS','LE','LOLB','MLB','RE','ROLB','SS']
sTeams_pos_list = ['K','P']

In [4]:
#Creates a new function to put each position into its own category.  
def define_pos(x):
    if x in off_pos_list:
        return('Off')
    if x in def_pos_list:
        return('Def')
    if x in sTeams_pos_list:
        return('sTeams')
    else:
        return("Missing")

In [5]:
df['pos_class'] = df['Position'].apply(define_pos)

In [6]:
extra_cols = ['Dev Trait','Last Name', 'First Name', 'Position','Birthdate','Years Pro','College','portraitId','Handedness']

#extra columns
df.drop(extra_cols, inplace=True, axis=1)

In [7]:
df.head()

,Overall Rating,Speed,Acceleration,Strength,Agility,Awareness,Catching,Carrying,Throw Power,Throw Accuracy,...,Throw Accuracy Mid,Throw Accuracy Deep,Play Action,Throw on the Run,Height,Weight,Age,Total Salary,Signing Bonus,pos_class
0,91,82,88,79,78,85,70,77,35,32,...,15,10,10,10,73,240,26,15600000,5000000,Off
1,88,83,87,80,83,90,65,50,22,22,...,6,6,6,6,72,242,29,42750000,10000000,Def
2,85,89,91,66,87,92,93,74,35,35,...,10,6,6,10,72,211,31,35000000,7000000,Off
3,83,75,82,78,78,91,49,40,34,40,...,6,6,6,6,71,255,33,5000000,2000000,Def
4,83,88,90,81,91,84,68,82,35,30,...,30,20,15,15,72,228,26,3600000,1600000,Off

In [8]:
le = preprocessing.LabelEncoder()
le.fit(df.pos_class)

LabelEncoder()

In [9]:
list(le.classes_)

['Def', 'Off', 'sTeams']

In [10]:
le.transform(df.pos_class)

array([1, 0, 1, ..., 1, 0, 1], dtype=int64)

In [11]:
df.pos_class = le.transform(df.pos_class)

In [12]:
df.head()

,Overall Rating,Speed,Acceleration,Strength,Agility,Awareness,Catching,Carrying,Throw Power,Throw Accuracy,...,Throw Accuracy Mid,Throw Accuracy Deep,Play Action,Throw on the Run,Height,Weight,Age,Total Salary,Signing Bonus,pos_class
0,91,82,88,79,78,85,70,77,35,32,...,15,10,10,10,73,240,26,15600000,5000000,1
1,88,83,87,80,83,90,65,50,22,22,...,6,6,6,6,72,242,29,42750000,10000000,0
2,85,89,91,66,87,92,93,74,35,35,...,10,6,6,10,72,211,31,35000000,7000000,1
3,83,75,82,78,78,91,49,40,34,40,...,6,6,6,6,71,255,33,5000000,2000000,0
4,83,88,90,81,91,84,68,82,35,30,...,30,20,15,15,72,228,26,3600000,1600000,1

In [ ]:
df.iloc[1768] #this guy is def a kicker

In [ ]:
y = df.pos_class
#create training and testing variables
x_train, x_test, y_train, y_test = train_test_split(df,y,test_size = 0.2)
clf = DecisionTreeClassifier()
clf.fit(x_train,y_train)
pred = clf.predict(x_test)

In [ ]:
acc = accuracy_score(pred, y_test)
print(acc)

In [ ]:
print(pred)

In [13]:
EDA_labels = ['Kick Power','Pursuit','Tackle','Carrying','Run Block','Height','Weight','pos_class']
df2 = df[EDA_labels]

In [14]:
df2.head()

   Kick Power  Pursuit  Tackle  Carrying  Run Block  Height  Weight  pos_class
0          19       48      45        77         71      73     240          1
1          10       94      92        50         45      72     242          0
2          30       35      35        74         62      72     211          1
3          20       88      77        40         45      71     255          0
4          25       50      25        82         64      72     228          1

In [18]:
y = df2.pos_class
#create training and testing variables
x_train, x_test, y_train, y_test = train_test_split(df2,y,test_size = 0.2)
clf = DecisionTreeClassifier()
clf.fit(x_train,y_train)
pred = clf.predict(x_test)

In [19]:
acc = accuracy_score(pred, y_test)
print(acc)

1.0

In [20]:
x_train.head()

,Kick Power,Pursuit,Tackle,Carrying,Run Block,Height,Weight,pos_class
926,22,80,78,48,45,76,267,0
2117,35,70,57,70,76,76,320,1
759,21,34,20,62,62,70,185,1
1025,25,57,51,65,47,74,212,1
2318,17,76,73,45,45,72,297,0